form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: fit-content;
    padding: 1.2rem 4.7rem;
    margin: 0.5rem 0 0 0;
    box-sizing: border-box;

    /* kolory i stylizacja */
    border: 6px solid #cfcfcf;
    border-radius: 10px;
    background: #8f8f8f;
    background: linear-gradient(180deg, rgba(143, 143, 143, 1) 0%, rgba(77, 77, 77, 1) 100%);
}

label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

label span {
    margin-bottom: 0.3rem;
    font-weight: bold;

    color: #eaeaea;
    font-size: 1.25em;
}

input, select, textarea {
    width: 100%;
    height: 1.8rem;
    font-size: 1.2em;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    border-radius: 0.2rem;
}

select {
    height: 2.5rem;
}

input:focus, select:focus, textarea:focus {
    background-color: #515151;
}

.excuse-is-important {
    display: flex;
    flex-direction: row;
}

.excuse-is-important input[type=checkbox] {
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 1rem;
}

button {
    width: 40%;
    align-self: center;
    margin-top: 1.25rem;
    font-size: 1.15em;
}